.header-comp-name{
    font-size: 30px;
    /* line-height: 30px; */
    margin:0px;
}

.header{
    color: white;
    margin: 0px;
    padding: 0px;
}

.header-piece-first{
    background: #04009A;  
}

.header-piece-second{
    background: #77ACF1;
}

.main-content{
    background: #3EDBF0;
    /* width: 75%; */
}

.item-container{
    width: 70%;
}

.image-size-force{
    width:100%;
}

.navigation-bar{
    background: #77ACF1;
}