.header-comp-name{
    font-size: 30px;
    /* line-height: 30px; */
    margin:0px;
}

.header{
    color: white;
    margin: 0px;
    padding: 0px;
}

.header-piece-first{
    background: #04009A;  
}

.header-piece-second{
    background: #77ACF1;
}

#center-piece{
    background: #3EDBF0;
}

.main-content{
    margin: auto;
    padding: 0px;
    max-width: 1900px; 
}

.item-container{
    width: 70%;
    margin: auto;
}

.image-size-force{
    width:100%;
}

.navigation-bar{
    background: #77ACF1;
}

.card-sizing{
     margin: 20px 0px; 
    /* width: 18%; */
    min-width: 18rem;
    max-width: 23rem;
	height: 300px;
}

.card-img{
	width: 100%;
}


.card-pack{
    margin: 0px 100px;
    padding: 0px;
}