:root{
	--color-1: #F3ECE3;
	--color-2: #CCA991;
	--color-3: #865738;
	--color-4: #D4B494;
}

.btn-primary{
	background: var(--color-3);
	border-color: var(--color-3);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
	background: #663718;
	border-color: #663718;
	box-shadow: none;
}

.btn-success{
	background: var(--color-2);
	border-color: #AA8971;
}
.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus{
	background: #AA8971;
	border-color: #AA8971;
	box-shadow: none;
}


html,body{
	min-height: 100vh;
	height: 100vh;
	background: var(--color-1);
	scrollbar-width: thin;
}

#root, #application{
	height:100vh;
	width: 100%
}

.header-comp-name{
    font-size: 30px;
    /* line-height: 30px; */
    margin:0px;
}

.header{
    color: white;
    margin: 0px;
    padding: 0px; 
}

.header-piece-first{
    background: var(--color-3);  
}

.header-piece-second{
    background: var(--color-2);
}

#center-piece{
    background: var(--color-1);
	margin-bottom: 20px;
}

#application{
	 background: var(--color-1);
}

.main-content{
    margin: auto;
    padding: 0px;
    max-width: 1900px; 
}

.item-container{
    width: 70%;
    margin: auto;
}

.image-size-force{
    width:100%;
}

.navigation-bar{
    background: var(--color-2);
}

.card-sizing{
     margin: 20px auto; 
    /* width: 18%; 
    min-width: 18rem;
    max-width: 18rem;
	height: 300px;*/

}

.card-img{
	max-height: 100%;
	width: auto;
	max-width: 100%;
}


.card-pack{
    margin: 0px 0px;
    padding: 0px;
}

.empty-display{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.footer{
	text-align: center;
	background: var(--color-4);
	height: 25px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

.sign-register-bar{
	background: var(--color-2);
	font-size: 25px;
	padding: 10px 0px;
	margin-bottom: 30px;
	text-align: center;
}

.sign-in-form{
	max-width: 500px;
	margin: 0px auto;
	background: var(--color-4);
	padding: 10px;
	border-radius: 5px;
	height: 100%;
}

#branding{
	margin-left: 7px;
}

.cart-list{
	width: 50%;
	margin: 35px auto;
}

.cart-page-btn{
	width: 32px;
	border-radius: 20px;
}

.cart-list-piece{
	width: 200px;
	margin: 0px 15px;
}

.dropdown
{
	width: 100%;
	cursor: pointer;
}

:checked + span{
	background: #adb5bd ;
}

.search-btn{
	border-color: var(--color-3);
	color: var(--color-3);
	box-shadow: var(--color-3);
}

.search-btn:hover{
	background: var(--color-3);
	border-color: var(--color-3);
}

.no-shadow:hover, .no-shadow:focus, .no-shadow:active{
	box-shadow: none;
}

.order{
	margin-top: 15px;
	padding: 20px 0px;
	border-radius: 15px;
	max-width: 800px;
}

.engulf-page{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.translucent{
	background: rgba(125,125,125, 0.4);
}

#product-see-more{
	display: inline-block;
	background: white;
	border-radius: 8px;
	top: 50%;
	width: 40%;
	max-width: 600px;
	min-width: 400px;
	height: 100vh;
	max-height: 90%;
	min-height: 400px;
}

.see-more-img{
	max-width: 100%;
	max-height: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.centered{
	text-align: center
}

.relative-text{
	/*font-size: 1.25vw; */
	min-width: 12px;
}

.see-more-button{
	min-width: 40px;
	width: 44%;
	max-width: 45%;
	min-height: 20px;
}

@media only screen and (max-width: 600px){
	#branding{
		margin-left: 0px;
	}
	#branding > h1{
		font-size: 24px;
	}
	#branding > h2{
		font-size: 16px;
	}

	.btn{
		padding: 3px;
	}

	.header-piece-first > div > button{
		font-size: 15px;
	}

	.cart-list{
		width: 100%;
	}

	div.col-2, div.col-7{
		padding: 0px;
	}
}

@media only screen and (max-width: 400px){
	
	#branding > h1{
		font-size: 24px;
	}
	#branding > h2{
		font-size: 14px;
	}


	.header-piece-first > div > button{
		font-size: 14px;
	}

	ul.cart-list > li{
		padding: 2px 4px;
	}

	.table td, .table th{
		padding: 2px;
		font-size: 13px;
	}

	

}