html,body{
	height: 100%;
}

#root, #application{
	height:100%;
	width: 100%
}

.header-comp-name{
    font-size: 30px;
    /* line-height: 30px; */
    margin:0px;
}

.header{
    color: white;
    margin: 0px;
    padding: 0px; 
}

.header-piece-first{
    background: #04009A;  
}

.header-piece-second{
    background: #77ACF1;
}

#center-piece{
    background: #3EDBF0;
	margin-bottom: 20px;
}

#application{
	 background: #3EDBF0;
}

.main-content{
    margin: auto;
    padding: 0px;
    max-width: 1900px; 
}

.item-container{
    width: 70%;
    margin: auto;
}

.image-size-force{
    width:100%;
}

.navigation-bar{
    background: #77ACF1;
}

.card-sizing{
     margin: 20px auto; 
    /* width: 18%; 
    min-width: 18rem;
    max-width: 18rem;
	height: 300px;*/

}

.card-img{
	max-height: 100%;
	width: auto;
	max-width: 100%;
}


.card-pack{
    margin: 0px 100px;
    padding: 0px;
}

.empty-display{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.footer{
	text-align: center;
	background: #F0EBCC;
	height: 25px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

.sign-register-bar{
	background: #77ACF1;
	font-size: 25px;
	padding: 10px 0px;
	margin-bottom: 30px;
	text-align: center;
}

.sign-in-form{
	max-width: 500px;
	margin: 0px auto;
	background: #F0EBCC;
	padding: 10px;
	border-radius: 5px;
	height: 100%;
}

#branding{
	margin-left: 7px;
}

.cart-list{
	width: 50%;
	margin: 35px auto;
}

.cart-page-btn{
	width: 32px;
	border-radius: 20px;
}

.cart-list-piece{
	width: 200px;
	margin: 0px 15px;
}

.dropdown
{
	width: 100%;
	cursor: pointer;
}

:checked + span{
	background: #adb5bd ;
}

.search-btn{
	border-color: #04009A;
	color: #04009A;
	box-shadow: #04009A;
}

.search-btn:hover{
	background: #04009A;
	border-color: #04009A;
}

.no-shadow:hover, .no-shadow:focus, .no-shadow:active{
	box-shadow: none;
}

.order{
	margin-top: 15px;
	padding: 20px 0px;
	border-radius: 15px;
	max-width: 800px;
}

.engulf-page{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.translucent{
	background: rgba(125,125,125, 0.4);
}

#product-see-more{
	display: inline-block;
	background: white;
	border-radius: 8px;
	top: 50%;
	width: 40%;
	max-width: 600px;
	min-width: 400px;
	height: 100vh;
	max-height: 90%;
	min-height: 400px;
}

.see-more-img{
	max-width: 100%;
	max-height: 100%;
}

.centered{
	text-align: center
}

.relative-text{
	/*font-size: 1.25vw; */
	min-width: 12px;
}

.see-more-button{
	min-width: 40px;
	width: 44%;
	max-width: 45%;
	min-height: 20px;
}

